.dice-page {

    padding: 0.1rem;

    .result {
        font-weight: bold;
        border: solid 2px #d0d0d0;
        background-color: #1f5285;
        color: white;
        text-align: center;
        padding: 0.1rem;
    }

    .numeric {
        width: 2rem;
        text-align: right;
    }

    .nw-button {
        min-width: 4rem;
    }
}